<html>
    <head>
      <title>ACTIIVTY</title>
      <link href="{{ url_for('static', filename='stylesheets/style.css') }}" rel="stylesheet" type="text/css"/>
      <script type="module" src="{{ url_for('static', filename='js/activity.js')}}"></script>
    </head>
    <body>
        <div class='top-bar'>
          <h1 class='header-text'> ACTIVITY PLAYGROUND </h1>
        </div>
        <div id="container" style="height: 100vh; width: 100vw;"></div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r122/three.js"></script> -->
</html>